.cartDetails{
    padding:0;
    margin:0;
    background-color: black;
    color:whitesmoke;
}
.cart{
    display:flex;
    align-items: center;
}
.cartData{
    width:60%;
    height:500px;
    background-color: rgb(20, 20, 20);
    padding:100px 60px;
    overflow: hidden;
    overflow-y: scroll;

}
.cartData::-webkit-scrollbar{
    width:10px;
    background-color:  rgb(20, 20, 20);
}
.cartData::-webkit-scrollbar-thumb{
    background-color:  rgb(20, 20, 20);
    border-radius:5px;
}
.cartData::-webkit-scrollbar-track{
    background-color:  rgb(20, 20, 20);
    border-radius:5px;
}
.cartInfo{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.c-fprice{
    font-size: 1.1rem;
    font-weight: 700;
    color:rgb(190, 190, 190);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}
.c-oprice{
    font-size: 1rem;
    color:rgb(80, 80, 80);
}
.buttons{
    width:119px;
    border: 1px solid gray;
    border-radius: 5px;
}
.btns{
    width:39px;
    border-radius: none;
}
.cartImage{
    height:100px;
    width:100px;
}
.c-delete{
    font-size: 1.2rem;
}
.c-delete:hover{
    color:red;
}
.c-content{
    font-size: 1.2rem;
}
.c-price{
    font-size: 1rem;
    margin-top:-30px;
    padding-left:280px;
}
.c-button{
    background-color: red;
    width:100%;
    border:none;
    color:whitesmoke;
    padding:5px;
    border-radius: 5px;
}
.CartEmpty{
    margin: 0;
    padding: 100px;
    text-align: center;
    align-items: center;
    background-color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-cart{
    color:red;
    font-size: 8rem;
    margin-bottom: 20px;
}
.Cart-content{
    color:white;
}
.shopping{
    color:rgb(201, 201, 201);
    background-color: red;
    border:none;
    padding:10px 25px;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: 600;
}