.cartDetails{
    padding:0;
    margin:0;
    background-color: black;
    color:whitesmoke;
}
.cart{
    display:flex;
    align-items: flex-start;
    column-gap: 30px;
}
.cartData{
    width:60%;
    height:500px;
    background-color: rgb(20, 20, 20);
    padding:50px 60px;
    overflow: hidden;
    overflow-y: scroll;
}
.cartData::-webkit-scrollbar{
    width:10px;
    background-color:  rgb(20, 20, 20);
}
.cartData::-webkit-scrollbar-thumb{
    background-color:  rgb(20, 20, 20);
}
.cartData::-webkit-scrollbar-track{
    background-color:  rgb(20, 20, 20);
}
.cartInfo{
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 5px;
}
.c-fprice{
    font-size: 1.1rem;
    font-weight: 700;
    color:rgb(190, 190, 190);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}
.c-oprice{
    font-size: 1rem;
    color:rgb(80, 80, 80);
}
.buttons{
    border:1px solid rgb(83, 83, 83);
    border-radius: 4px;
    width: 122px;
}
.btns{
    width:40px;
    border:none;
    font-weight: 700;
    font-size: 1rem;
    height: 30px;
    color:whitesmoke;
}
.b-l{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.b-color{
    background-color: black;
    color:red;
    width:40px;
    border:none;
    height: 30px;
}
.b-r{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.cartImage{
    height:100px;
    width:100px;
}
.c-delete{
    font-size: 1.2rem;
}
.c-delete:hover{
    color:red;
}
.c-content{
    font-size: 1rem;
}
.c-price{
    font-size: 1.2rem;
    margin-top:-27px;
    padding-left:250px;
}
.c-move{
    padding-left:240px;
}
.c-movetwo{
    padding-left:270px;
}
.c-bold{
    font-weight: bold;
    font-size: 1.3rem;
}
.c-button{
    background-color: red;
    width:100%;
    border:none;
    color:whitesmoke;
    padding:5px;
    border-radius: 5px;
}
.CartEmpty{
    margin: 0;
    padding: 100px;
    text-align: center;
    align-items: center;
    background-color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-cart{
    color:red;
    font-size: 8rem;
    margin-bottom: 20px;
}
.Cart-content{
    color:white;
}
.shopping{
    color:rgb(201, 201, 201);
    background-color: red;
    border:none;
    padding:10px 25px;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: 600;
}